-- Generated BATCHED INSERT statements for Users table
-- Total records: 5000
-- Batch size: 1000
-- 250 accounts marked as deleted (5.0%)
-- Generated on: 2025-12-10 15:01:26

USE AKPayDB;
GO

SET NOCOUNT ON;
GO

ALTER TABLE UserAccounts DISABLE TRIGGER TR_UserAccounts_BlockDirectCreate;
GO
ALTER TABLE Users DISABLE TRIGGER TR_Users_BlockDirectCreate;
GO


GO


GO


GO


GO


GO

ALTER TABLE UserAccounts ENABLE TRIGGER TR_UserAccounts_BlockDirectCreate;
GO
ALTER TABLE Users ENABLE TRIGGER TR_Users_BlockDirectCreate;
GO

SELECT * FROM Users
GO

-- Successfully generated 5000 INSERT statements in batches of 1000
-- Approximately 500 records have NULL userType (10.0%)
-- 250 records marked as deleted (5.0%)
