-- Generated INSERT statements for UserAccounts table
-- Total records: 5000
-- 95% of accounts (4750) set to IsActive = 1
-- Generated on: 2025-11-24 04:25:13

USE AKPayDB;
GO

SET NOCOUNT ON;
GO

ALTER TABLE UserAccounts DISABLE TRIGGER TR_UserAccounts_BlockDirectCreate;
GO
ALTER TABLE Users DISABLE TRIGGER TR_Users_BlockDirectCreate;
GO

INSERT INTO UserAccounts (userID, userBalance, lastUpdateTime, IsActive) VALUES (1, 12225.2, '2025-06-05 22:15:17', 1);
INSERT INTO UserAccounts (userID, userBalance, lastUpdateTime, IsActive) VALUES (2, 294.7, '2025-06-16 21:38:01', 1);
INSERT INTO UserAccounts (userID, userBalance, lastUpdateTime, IsActive) VALUES (3, 4986.09, '2025-07-14 14:00:03', 1);

GO

-- Successfully generated 5000 INSERT statements
-- All balances are positive (> 0) and within DECIMAL(12,2) constraints
-- 95% of accounts (4750) set to IsActive = 1
-- lastUpdateTime randomly distributed over last 6 months
-- Generated UPDATE statements for UserAccounts table
-- Total records: 2000
-- 95% of accounts (1900) set to IsActive = 1
-- Generated on: 2025-11-24 04:25:13


ALTER TABLE UserAccounts ENABLE TRIGGER TR_UserAccounts_BlockDirectCreate;
GO
ALTER TABLE Users ENABLE TRIGGER TR_Users_BlockDirectCreate;
GO

SELECT * FROM UserAccounts
GO